html
    head
        title Slot machine
        script (src='js/slot.js')
            link(rel='stylesheets', href='css/style.css')
        body
            h1 Slot machine
            #sm
                (class="group lever")
                    button start
                    div(class="group")
                        div(class="reel")
                        div(class="reel")
                        div(class="reel")
                            p(class="msg")Press Start

