<!Doctype html>
        <html>
<head>
  <title>Slot machine</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Slot Machine</h1>
<div id="sm">
  <div class="group lever">
    <button>Start</button>
  </div>
  <div class="group">
    <div class="reel"></div>
    <div class="reel"></div>
    <div class="reel"></div>
  </div>
  <p class="msg">Press Start</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="js/slot.js">

</script>
</body>
</html>