<!Doctype html>
        <html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>  <!--<link rel="stylesheet" href="css/slot.css" media="all and (min-width: 600px)">-->
  <link rel="stylesheet" href="css/slot.css" >

</head>
<body>
<div class="heading grey">
  <h2>Espresso Bar Slot Machine</h2>
  <div id="msg">Click on the Start Button</div>

</div>
<div style="overflow: hidden;position: relative;">
<div class="slot-contents">
 <div class="reel"></div>
  <div class="reel"></div>
  <div class="reel"></div>
<br>



</div>
  <div class="trigger-button">

    <button class="btn" id="trigger"><i class="fa fa-play-circle-o fa-3x grey" aria-hidden="true"></i></button>
  </div>


</div>

<script src="js/slotMachine.js"></script>
</body>
</html>